/** Add css rules here for your application. */

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

img {
  margin-top: 20px;
}



.gwt-Button {
	color: black;
}

.gwt-Button-CalculatorButton {
	background-color: #DDDDDD;
	color: black;
	border: 4px solid #D8E3FD;
	border-style: ridge;
	}

/** used by the calculator's display control */
.gwt-TextBox-CalculatorDisplay {
	color: 00FF00;
	text-align: right;
	font-size: 150%;
	width: 100%;	
	border: 4px solid #D8E3FD;
	border-style: ridge;
	}

	
/** debug logging window style */
.debug {
	font: 100%;
	color: green;
	background-color: white;
	width: 100%;
	border: 4px solid #D8E3FD;
	border-style: ridge;
	}

.LogDebugPanel {
	font: 25%;
	color: green;
	background-color: white;
	width: 90%;
	border: 4px solid #D8E3FD;
	border-style: ridge;
	}
	